{% block melisfile_row -%}

    {% if attr['filestyle_options'] is defined %}
        {% if data is null %}
            {% set data = '' %}
        {% endif %}
        {% set options = attr['filestyle_options'] %}
        {% set options = options|merge({'placeholder': data, 'buttonText': options['buttonText']|trans({}, translation_domain)}) %}
        {% set attr = remove_key('filestyle_options', attr) %}
    {% endif %}

    <div class="form-group{% if not valid %} has-error{% endif %}">
        {{- form_label(form) }}
        <input type="hidden" name="{{ name ~ '_value' }}" value="{{ data }}" />
        <input type="file" name="{{ name }}" id="{{ id }}" data-value="{{ data }}"
        {% for attrname, attrvalue in attr %}
            {{ attrname }}="{{ attrvalue }}"
        {% endfor %}
        />
    </div>
    <script type="application/javascript">
        var selector = "#{{ id }}";
        $(selector).filestyle({{ options|default({})|json_encode|raw }});
    </script>
{% endblock melisfile_row %}